# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ljrzmbxposgfxcymamwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqcnptYnhwb3NnZnhjeW1hbXdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzI4MjMsImV4cCI6MjA4OTc0ODgyM30.IkQxtru2CKYl8E9IguGR6GZvlOSDsU8cmgCMDWMuXcI
